body {
  padding: 20px;
}

.wrapper {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 2fr 16fr 1fr;
  grid-gap: 10px;
}

.sidebar {
  grid-column: 1 / 2;
} 

.content {
  grid-column: 2 / 3;
}

.filters {
  grid-column: 3 / -1;
}

.header {
  grid-column: 1 / -1;
  
  background: linear-gradient(0deg, 
                            rgba(153,87,50,1) 0%, 
                            rgba(242,145,13,1) 46%, 
                            rgba(255,207,0,1) 71%, 
                            rgba(255,255,255,1) 100%);
}

.footer {
  grid-column: 1 /-1;
}