<div class="wrapper">
  <TopNav  />

  <SideNav />

  <section class="content p-4 bg-gray-200">
      {{outlet}}
  </section>

  <SideFilters />

  <footer class="footer p-4 bg-gray-200">Footer</footer>
</div>